---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <div class="projects-content">
    <h1>Work Experience</h1>
    <h2>Limelight Panels</h2>
    <ul>
      <li>
        Created a <a href="https://limelightcal.com/">React webapp</a> to sync Cobot
        room bookings with Google Calendars at <a
          href="https://limelightwork.com/">Limelight locations</a
        >.
      </li>
      <li>Built with Astro + React.</li>
    </ul>
    <h2>feverdream</h2>
    <ul>
      <li>
        Created a <a href="https://fever-dream.vercel.app/">website</a> for the artist
        residency program at <a href="https://www.electricgardens.com/"
          >Electric Gardens</a
        >.
      </li>
      <li>Built with Astro + React.</li>
      <li>
        Adapted a Figma design to be responsive and created the mobile layout.
      </li>
      <li>
        Also aided in creating the AI frame interpolated video on the homepage
        (Tensorflow + Python).
      </li>
    </ul>
    <h2>Acme Ballast Calculator</h2>
    <ul>
      <li>
        Created a Python program that calculates minimum required ballast for
        solar panel arrays.
      </li>
      <li>Created an exe with a simple UI for Windows.</li>
      <li>Built with matplotlib, and shapely + decartes</li>
    </ul>
  </div>
  <div class="learning-content">
    <h1>What I'm Learning</h1>
    <ul>
      <li>3D Modeling</li>
      <li>
        WebGL using <a href="https://threejs.org/">three.js</a> and <a
          href="https://docs.pmnd.rs/react-three-fiber/getting-started/introduction"
          >react-three-fiber</a
        >
      </li>
      <li>
        <a href="https://www.rust-lang.org/">Rust!</a> (very slowly)
      </li>
      <li>Digital Illustration</li>
    </ul>
  </div>
</PageLayout>
<!-- <Footer /> -->
<style>
  /* .experience-container {
        background-color: lightyellow;
        border-radius: 10px;
        max-width: 80vw;
        margin: auto;
        margin-top: 10vw;
      }
      .about-content {
        padding-bottom: 5rem;
      }
      .projects-content,
      .learning-content {
        max-width: 42rem;
        margin: auto;
        word-break: break-word;
      }
      h1 {
        padding: 1rem 0;
      }
      h2 {
        padding: 1rem 0;
      }
      ul {
        padding: 0;
      }
      li {
        padding-bottom: 1rem;
        list-style: none;
      } */
</style>
