---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
// import Footer from "../components/Footer.astro";

import FloatingStars from "../components/FloatingStars.jsx";
import Popouts from "../components/popouts.svelte";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <FloatingStars client:load />
      <div class="content-card">
        <div class="zavi-pic"></div>
        <h1>Zavier McLean</h1>
        <h2>frontend developer</h2>
        <Popouts client:load />
      </div>
    </main>
    <!-- <Footer /> -->
    <script></script>

    <style is:global>
      * {
        margin: 0;
      }
      h1 {
        padding: 1rem 0 2rem;
      }
      h2 {
        padding-bottom: 1.5rem;
      }
    </style>
    <style>
      canvas {
        width: 100vw;
        height: 100vh;
        z-index: -9999;
      }
      .content-card {
        position: absolute;
        z-index: 100;
        display: flex;
        align-items: center;
        flex-direction: column;
        left: 0;
        right: 0;
        top: 40%;
        max-width: 50vw;
        margin: auto;
        word-break: break-word;
        /* height: 10rem; */
        background-color: hsl(60, 100%, 94%);
        border-radius: 10px;
        box-shadow: 0.25rem 0.25rem hsl(331, 60%, 40%);
      }
    </style>
  </body>
</html>
